[Unit]
Description=dockerized upnpd_iptv torrent-telik
Requires=docker.service aceproxy.service
After=docker.service aceproxy.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f upnpd_iptv-instance
ExecStartPre=-/usr/bin/docker pull andreymalyshenko/mediaserver-role-upnpd_iptv:armhf
ExecStart=/usr/bin/docker run --name upnpd_iptv-instance --net=host --env FRONTEND_PORT=4044 --env FRONTEND_NAME=IPTV --env BACKEND_GUID=61cfd247-be43-4736-8344-bd0fa2100f8e andreymalyshenko/mediaserver-role-upnpd_iptv:armhf
ExecStartPost=/bin/sh -c 'while ! docker ps | grep upnpd_iptv-instance ; do sleep 1; done'
ExecStop=/usr/bin/docker rm -f upnpd_iptv-instance
TimeoutSec=0
RemainAfterExit=no
Restart=Always

[Install]
WantedBy=multi-user.target

