[Unit]
Description=dockerized upnpd_iptv allfon
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f upnpd_iptv_2-instance
ExecStartPre=-/usr/bin/docker pull andreymalyshenko/mediaserver-role-upnpd_iptv:armhf
ExecStart=/usr/bin/docker run --name upnpd_iptv_2-instance --net=host --env M3U_URL=http://localhost:8000/allfon/list.m3u --env FRONTEND_PORT=4045 --env FRONEND_NAME=IPTV-ALLFON andreymalyshenko/mediaserver-role-upnpd_iptv:armhf
ExecStartPost=/bin/sh -c 'while ! docker ps | grep upnpd_iptv_2-instance ; do sleep 1; done'
ExecStop=/usr/bin/docker rm -f upnpd_iptv_2-instance
TimeoutSec=0
RemainAfterExit=no
Restart=Always

[Install]
WantedBy=multi-user.target

